*{
    box-sizing: border-box;
}

body{
    font-family: monospace;
    display: flex;
    justify-content: center;
}

.myCalc{
    width: 400px;
    height: 500px;
    background-color: lightgray;
    padding: 5px;
    cursor: pointer;
}

.output{
    
    height: 60px;
    background-color: white;
    line-height: 50px;
    text-align: right;
    margin-bottom: 10px;
}
.btn{
    height: 100px;
    width:93px;
    padding: 5px;
    line-height: 50px;
    font-size: 2rem;
    vertical-align: bottom;
    text-align: center;
    background-color: rgb(192, 168, 168);
    margin: 2px;
    display:inline-block;
}
.row{
    width: 100%;
    display: block;
}